.container{
  background-color: lightgray;
}

.list{
  max-width: 500px;
  background-color: white;
  margin: 0 auto;
}

.seemore{
  font-family: roboto;
  color: rgb(0, 188, 212);
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
